 <header>

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-0">

     <div class="container">

       <a href="#home" class="navbar-brand font-alt">
         <img height="40" src="assets/img/logo.svg" alt="Logp MUg" class="mr-2 mb-3"> Mug &amp; Move
       </a>
       <!--Toggle button-->
       <button aria-controls="navbar-toggle" aria-expanded="true" aria-label="Toggle navigation"
         data-target="#navbar-toggle" arial-controls="navbar-toggle" type="button" class="navbar-toggler btn-round"
         data-toggle="collapse">
         <span class="icon-menu"></span>
       </button>

       <div class="collapse navbar-collapse justify-content-end text-uppercase" id="navbar-toggle">
         <ul class="navbar-nav">
           <li class="nav-item">
             <a routerLink="/home" class="nav-link">Home</a>
           </li>
           <li class="nav-item">
             <a routerLink="/about" class="nav-link">About</a>
           </li>
           <li class="nav-item">
             <a routerLink="/login" class="nav-link">Sign In</a>
           </li>
           <li class="nav-item">
             <a routerLink="/registry" class="nav-link">Sign Up</a>
           </li>
           <!--   <li class="nav-item">
            <a href="#impressionen" class="nav-link">Impressionen</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Kontakt</a>
          </li>
          <li class="nav-item d-relative">
            <a href="#" class="nav-link">
              <span class="icon-basket"></span>
              <span class="badge badge-pill badge-danger">4</span>
            </a>
          </li> -->
         </ul>
       </div>
     </div>
   </nav>

 </header>
